* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    font-family: arial, sans-serif;

}

body{
    margin: 0;
}

#main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
   
}

#main-nav a{
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    cursor: pointer;
    padding: 5px 7px;  
}

#main-nav a:hover{
    text-decoration: underline;
    opacity: .85;
}

#main-nav a.topimage{
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: right 80pxk;
    background: lightblue;
    border-radius: 50%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo{
    display: block;
    margin: 0px auto;
    margin-top: 100px;
}

.s-box{
    width: 700px;
    margin: 0px auto;
    position: relative;
    text-align: center;
}

.s-box .s-input{
    display: block;
    border-radius: 20px;
    border: 1px solidd;
}

.s-btn{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 14px;
    display: inline-block;
    margin-top: 28px;
    margin-right: 10px;
}